#sec3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    align-content: space-between;
    height: 900px;
}
#sec p,span,h3{
    text-align: center;
}

.containersc3{
    width: 95%;
    margin: 20px;
}


.textcardsc3 p{
    margin: 2% 0;
    font-size: 0.6rem;
    text-align: left;
    letter-spacing: 2%;
  }
  
  .textcardsc3 span{
      font-size: 0.8rem;
    color: goldenrod;
    font-weight: lighter;
    text-align: center;
  }