

nav{
    min-height: 12vh;
    height: fit-content;
    width: 100%;
    padding: 0 1%;
    background: linear-gradient(90deg, rgba(0,198,255,1), rgba(9,51,121,1));
}

nav .center{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

ul{
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul a{
    color: white;
    margin: 0 5px;
    padding: 12px 8px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: calc(14px + 0.1vw);
}

nav ul a:hover{
    background: royalblue;
}
.imgnv{
    width: 42%;
    height: 10vh;
}

img{
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width:auto;
    object-fit: contain;
}

.sec1{
    width: 100%;
    min-height: 88vh;
    height: fit-content;
    background: linear-gradient(90deg, rgba(0,198,255,1), rgba(9,51,121,1));
}
.sec1 .center{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textsc1{
    margin: 15% 0;
    height: 70%;
    width: 80%;
    display: grid;
    gap: 2%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    align-items: center;
    position: relative;
    justify-content: space-around;
}
.contentsc1{
    grid-row: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 100%;
    width: fit-content;
}
.imgsc1{
    grid-row: 2/2;
}
.contentsc1 h1{
    font-size: calc(30px + 0.4vw);
    color: white;
    text-shadow: 0 4px 8px black;
}

.contentsc1 h6{
    font-size: calc(15px + 0.4vw);
    color: white;
    margin: 10px 0;
}

.contentsc1 a{
    padding: 16px 14px;
    background: royalblue;
    color: white;
    margin: 8px 0;
}
.contentsc1 a:hover{
    background: white;
    color: black;
}
.sec2{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: goldenrod;
}
hr{
    border: 1px solid black;
}
.sec2 .center{
    display: flex;
    height: 90%;
    width: 100%;
    margin-top: 10%;
    align-items: center;
    justify-content: space-around;
}
.sec2 .textsc2{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.textsc2 h1{
    font-size: calc(28px + 0.3vw);
    color: orangered;
    margin: 10px 0;
}
.textsc2 p{
    font-size: calc(18px + 0.3vw);
    color: white;
    margin: 10px 0;
}

.textsc2 a{
    font-size: 14px;
    padding: 12px;
    display: block;
    width: 80%;
    text-align: center;
    background: royalblue;
    color: white;
    margin: 10px 0;
}
.textsc2 a:hover{
    background: white;
    color: black;
}
.sec2 .imgsc2{
    width: 30%;
    height: 100%;
}

.sec3{
    background: white;
    width: 100%;
    min-height: 60vh;
    padding: 4% 0;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec3 .center{
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.itensc3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 45%;
    margin-bottom: 5%;
}
.textsc3{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.textsc3 h1{
    font-size: calc(26px + 0.2vw);
    color: goldenrod;
    margin: 10px 0;
}
.textsc3 p{
    line-height: 120%;
    caret-color: black;
    font-weight: 500;
    font-size: 14px;
    padding-right: 10%;
}
.imgsc3{
    height: 50%;
    width: 40%;
}

.imgsc3 img{
    object-fit: contain;
    object-position: center;
}

.sec4{
    min-height: 30vh;
    padding: 4% 0;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-items: center;
    background: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.sec4 .center{
    height: 80%;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.sec4 .itensc4:nth-child(1){
    grid-row: 1/1;
    grid-column: 1/1;
}
.sec4 .itensc4:nth-child(2){
    grid-row: 2/2;
    grid-column: 1/1;
}
.sec4 .itensc4:nth-child(3){
    grid-row: 1/1;
    grid-column: 2/2;
}
.sec4 .itensc4:nth-child(4){
    grid-row: 2/2;
    grid-column: 2/2;
}


.itensc4{
    width: 60%;
    margin: 10% 20%;
    height:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgsc4{
    width: 30%;
    height: 20%;
}

.imgsc4 img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.itensc4 h1{
    font-size: calc(16px + 0.4vw);
    color: goldenrod;
    margin: 5px 0;
text-align:center;
}

.itensc4 p{
    color: black;
    text-align: center;
    line-height: 110%;
    font-size: 10px;
    padding: 0px 2%;
}

#sec5{
    background: white;
    min-height: 5vh;
    height: fit-content;
}
#sec5 .itensc4{
    background: white;
}
#sec5 .itensc4 h1{
    color: black;
    font-weight: 500;
    font-size: calc(18px + 0.2vw);
    text-align: center;
}

.imgsc1{ animation: hint 2s alternate; -webkit-animation: hint 2s alternate;
}
@keyframes hint {
   0%{
       transform: translateY(0px);
       -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
       -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
}
   50%{
       transform: translateY(-5px);
       -webkit-transform: translateY(-5px);
       -moz-transform: translateY(-5px);
       -ms-transform: translateY(-5px);
       -o-transform: translateY(-5px);
}
   100%{
       transform: translateY(5px);
       -webkit-transform: translateY(5px);
       -moz-transform: translateY(5px);
       -ms-transform: translateY(5px);
       -o-transform: translateY(5px);
}}
#sec6 .textsc3{
    padding: 0 2%;
}


.sec7{
    min-height: 60vh;
    height: fit-content;
    width: 100%;
    background: white;
    display: flex;
    justify-items: center;
    align-items: center;
}

.sec7 .center{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imgsc7{
    width: 30%;
    height: 20%;
    display: flex;
    justify-content: center;
}

.citationsc7{
    width: 100%;
    margin-top: 10%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.citationsc7 h1{
    font-size: calc(28px + 0.2vw);
    color: goldenrod;
    text-align: center;
}

.citationsc7 p{
    font-size: calc(20px + 0.2vw);
    color: silver;
    line-height: 120%;
    text-align: center;
    padding: 0 15%;
}

footer{
    height: 10vh;
    background: black;
    width: 100%;
}

footer ul{
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
footer a{
    padding: 5px 8px;
    margin: 0 8px;
    font-size: 12px;
    color: gray;
}

footer a:hover{
    color: white;
}
@media screen and (max-width: 655px) {
    
.imgsc4{
    display: none;
}
.citationsc7 p{
    font-size: calc(18px + 0.2vw);
    color: silver;
    line-height: 120%;
    text-align: center;
    padding: 0 5%;
}
footer a{
    padding: 5px 8px;
    margin: 0 6px;
    font-size: 11px;
    color: gray;
}
}